@{
    ViewData["Title"] = "EuroShop";
}

<div class="text-center">
   <h1 class="display-4">Benvenuto nel nostro shop!</h1>
    <p>Scopri i nostri prodotti, ed iscriviti alla newsletter per rimanere aggiornato sulle offerte.</p>
</div>
